extends layout

block content
  div.container
    header
      div.header-container
        div.directory-container
          span.directory-title #{category.name}
          span.directory-count (#{item_count})

        a.title-add-button(href=category.url+'/update')
          h4 Update Category Name
          
        a.title-add-button(href=category.url+'/update_image')
          h4 Update Category Image

        //- button.header-back-button(onclick='window.history.back()') Back
    
    div.item-list-container
      each item in item_list
        div
          a(href=item.url)
            div.list-item
              div.list-item-img-container
                img(src='/images/'+item.imageURL)
              div.list-item-detail-container
                div.list-item-price #{item.price}
                div.list-item-name #{item.brand[0].name} - #{item.name}
                div.list-item-stock Qty: #{item.stock}        
                div.list-item-categories      
                  each val, index in item.categories
                    a.list-item-category(href=val.url) #{val.name}

      