extends layout

block content
  div.container
    header
      div.header-container
        div.directory-container
          span.directory-title Items
          span.directory-count (#{item_count})

        a.title-add-button(href="/catalog/item/create")
          h4 + Add item

    div.item-list-container
      each item in item_list
        div
          a(href=item.url)
            div.list-item
              if item.admin === true
                div.item-admin-icon-container
                  p.item-admin-status locked
              else 
                div.item-admin-icon-container
                  p   
              div.list-item-img-container
                img(src='https://party-planner-images.s3.amazonaws.com/' + item.imageURL)
              div.list-item-detail-container
                div.list-item-price #{item.price}
                div.list-item-name #{item.brand[0].name} - #{item.name}
                div.list-item-stock Qty: #{item.stock}        
                div.list-item-categories      
                  each val, index in item.categories
                    a.list-item-category(href=val.url) #{val.name}

      else
        h3 There are no item options.